.parent-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f6f6f2; }
  .parent-container h1 {
    font-size: 40px;
    font-weight: bold;
    color: #388087; }
  .parent-container h2 {
    font-weight: bold;
    color: #388087; }
  .parent-container h5 {
    font-weight: bold;
    color: #272343; }
  .parent-container p {
    color: #bbbbbb;
    max-width: 600px; }
  .parent-container .navbar {
    background: #eef0f4;
    background-repeat: no-repeat;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff; }
    .parent-container .navbar .navbar-brand {
      font-size: 30px;
      font-weight: bold;
      color: #184656; }
    .parent-container .navbar .collapse .nav-item {
      margin: 0 10px;
      font-weight: 500; }
    .parent-container .navbar .navbar-toggler {
      box-shadow: none; }
  .parent-container .banner {
    background-image: url(/assets/happy-man.jpg);
    background-position: center top;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f9f9; }
    .parent-container .banner h2 {
      font-weight: 500; }
  .parent-container .about {
    padding: 100px 0 0 0; }
    .parent-container .about .profile-img img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover; }
    .parent-container .about .download-link {
      padding: 10px 0;
      transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in; }
      .parent-container .about .download-link a {
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        background: #184656;
        border-radius: 10px; }
      .parent-container .about .download-link a:hover {
        transform: scale(1.1); }
  .parent-container .my-works {
    padding: 80px 0;
    background: #f6f6f2; }
    .parent-container .my-works .work-title {
      padding-bottom: 20px; }
    .parent-container .my-works a {
      text-decoration: none; }
    .parent-container .my-works .card {
      padding: 30px;
      max-width: 350px;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 15px;
      border: none;
      box-shadow: 0.3px 0.3px 8px #e8e8e8, -0.3px -0.3px 8px #ffffff;
      transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in; }
      .parent-container .my-works .card img {
        width: 70px;
        margin-left: 15px; }
    .parent-container .my-works .card:hover {
      transform: scale(1.1); }
  .parent-container .skills {
    padding: 50px 0; }
    .parent-container .skills .carousel-inner {
      padding: 50px 0; }
      .parent-container .skills .carousel-inner .carousel-item img {
        width: 100px; }
    .parent-container .skills .carousel-control-next-icon {
      background-image: url(/assets/right-arrow.png);
      margin-left: 60px; }
    .parent-container .skills .carousel-control-prev-icon {
      background-image: url(/assets/left-arrow.png);
      margin-right: 50px; }
  .parent-container .experiance .exp {
    padding: 50px 0 30px 0; }
  .parent-container .experiance a {
    text-decoration: none; }
  .parent-container .experiance .card {
    padding: 30px;
    max-width: 350px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 15px;
    border: none;
    box-shadow: 0.3px 0.3px 8px #e8e8e8, -0.3px -0.3px 8px #ffffff;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in; }
    .parent-container .experiance .card img {
      width: 140px;
      margin-left: 15px; }
    .parent-container .experiance .card .immabeme,
    .parent-container .experiance .card .creative {
      width: 50px; }
    .parent-container .experiance .card h2 {
      font-size: 25px;
      color: #184656; }
    .parent-container .experiance .card h3 {
      font-size: 20px; }
    .parent-container .experiance .card h5 {
      font-size: 15px; }
  .parent-container .experiance .card:hover {
    transform: scale(1.1); }
  .parent-container .contact {
    padding: 30px 0 0 0; }
    .parent-container .contact .info {
      padding: 20px 0;
      background: #c2edce; }
      .parent-container .contact .info img {
        width: 30px;
        margin-right: 10px; }
      .parent-container .contact .info span {
        font-size: 22px; }
        .parent-container .contact .info span a {
          text-decoration: none;
          color: #0d6efd; }
      .parent-container .contact .info .info-detail img {
        width: 35px; }

@media (max-width: 480px) {
  .parent-container h1,
  .parent-container h2,
  .parent-container h3,
  .parent-container h5,
  .parent-container p {
    text-align: center; }
  .parent-container .banner {
    height: 300px;
    background-position: inherit; }
    .parent-container .banner .overlay {
      background: #388087;
      opacity: 0.6;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;
      height: 300px;
      max-width: 1440px;
      z-index: 0; }
  .parent-container .about .download-link {
    margin: 0 auto;
    width: 200px; }
  .parent-container .my-works {
    padding: 30px 0; }
    .parent-container .my-works .card {
      margin: 10px auto; }
      .parent-container .my-works .card img {
        margin: 0px auto; }
  .parent-container .skills {
    padding: 0; }
    .parent-container .skills .carousel-inner .carousel-item img {
      margin: 10px 0; }
    .parent-container .skills .carousel-control-prev-icon {
      margin-right: 0; }
    .parent-container .skills .carousel-control-next-icon {
      margin-left: 0; }
  .parent-container .experiance .exp {
    padding: 10px 0; }
  .parent-container .experiance .card {
    margin: 10px auto; }
    .parent-container .experiance .card img {
      margin: 0 auto; }
  .parent-container footer .info {
    text-align: center; }
    .parent-container footer .info .email {
      margin: 20px 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .parent-container .my-works .card {
    margin: 20px auto; }
  .parent-container .experiance .card {
    min-height: 267px;
    margin: 20px auto; } }
@media (min-width: 991px) {
  .parent-container .navbar .navbar-brand {
    margin-left: 50px; }
  .parent-container .navbar .collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px; } }

/*# sourceMappingURL=style.css.map */
